$side-background-color: {{ sideBg }};
$navigation-background-color: #fff;
$navigation-background-opacity: .1;
$navigation-link-color: {{ navLink|default(mAcc) }};
$navigation-linkHover-color: {{ navLinkHov|default(acc) }};
$navigation-icon-color: {{ navIconLink|default(mAcc) }};
$navigation-iconHover-color: {{ navIconLinkHov|default(acc) }};
$navigation-popUpBackground-color: #fff;
$navigation-popUpText-color: #1a1a1a;
$navigation-popUpUserInnerBackground-color: #f2f2f2;
$navigation-popUpNavigationBackground-color: #fff;
$navigation-popUpNavigationLink-color: {{ navLink|default(mAcc) }};
$navigation-popUpNavigationLinkHover-color: {{ navLinkHov|default(acc) }};
$propertySearch-header-color: #fff;
$propertySearch-searchBackground-color: #fff;
$propertySearch-searchBackground-opacity: .9;
$propertySearch-label-color: #444;
$propertySearch-selectBackground-color: #fff;
$propertySearch-selectText-color: #fff;
$propertySearch-searchButtonBackground-color: {{ searchButton|default(act) }};
$propertySearch-searchButtonText-color: #fff;
$propertySearch-advancedSearchLink-color: {{ searchAdvLink|default(mAcc) }};
$propertySearch-advancedSearchLinkHover-color: {{ acc }};
$propertySearch-mobileSearchBackground-color: #f2f2f2;
$propertySearch-mobileLabel-color: #444;
$bodyContent-header-color: {{ bodyHead|default('#444') }};
$bodyContent-paragraph-color: #444;
$bodyContent-link-color: {{ bodyLink|default(acc) }};
$bodyContent-linkHover-color: {{ bodyLinkHov|default(accHover) }};
$sidebarShare-background-color: #fff;
$sidebarShare-backgroundHover-color: #f5f5f5;
$sidebarShare-text-color: #444;
$sidebarShare-textHover-color: {{ acc }};
$sidebarContent-header-color: {{ sidebarHead|default('#444') }};
$sidebarContent-headerBorder-color: #e0e0e0;
$sidebarContent-text-color: #444;
$sidebarContent-link-color: {{ sidebarLink|default(acc) }};
$sidebarContent-linkHover-color: {{ sidebarLinkHov|default(accHover) }};
$searchResults-subBarBackground-color: #fcfcfc;
$searchResults-subBarSelectBackground-color: #fff;
$searchResults-subBarSelectText-color: #444;
$searchResults-subBarCallToActionLink-color: {{ acc }};
$searchResults-subBarCallToActionLinkIcon-color: {{ act }};
$searchResults-propertyLink-color: {{ acc }};
$searchResults-propertyLinkHover-color: {{ accHover }};
$searchResults-favoritePropertyLink-color: #900;
$searchResults-informationLink-color: {{ acc }};
$searchResults-propertyDetailNumber-color: #444;
$searchResults-propertyDetailLabel-color: #666;
$searchResults-propertyDetailBackground-color: #fff;
$property-city-color: #444;
$property-address-color: #444;
$property-headerDetailPrice-color: #444;
$property-headerDetailNumber-color: #444;
$property-headerDetailLabel-color: #666;
$property-newSearchBackground-color: {{ acc }};
$property-detailLabel-color: #444;
$property-detailNumber-color: #444;
$property-slideshowButtonBackground-color: #fff;
$property-slideshowButtonText-color: {{ acc }};
$property-contactUsNumber-color: #444;
$property-contactUsBackground-color: {{ act }};
$property-contactUsText-color: #fff;
$property-mortgageCalculatorHeader-color: #444;
$property-mortgageCalculatorButtonBackground-color: {{ act }};
$footer-header-color: #444;
$footer-text-color: #444;
$footer-link-color: {{ acc }};
$bottomNavigation-topBorder-color: {{ botTop|default(acc) }};
$bottomNavigation-divider-color: {{ botDiv|default('#d9d9d9') }};
$primaryBottomNavigation-header-color: {{ botHead|default('#444') }};
$primaryBottomNavigation-link-color: {{ botLink|default(acc) }};
$primaryBottomNavigation-linkHover-color: {{ botLinkHov|default(accHover) }};
$secondaryBottomNavigation-header-color: {{ botHead|default('#444') }};
$secondaryBottomNavigation-link-color: {{ botLink|default(acc) }};
$secondaryBottomNavigation-linkHover-color: {{ botLinkHov|default(accHover) }};
$rgFooter-background-color: #fff !default;
