$navigation-background-color: #000;
$navigation-background-opacity: .65;
$navigation-link-color: #fff;
$navigation-linkHover-color: #b40101;
$navigation-icon-color: #fff;
$navigation-iconHover-color: #b40101;
$navigation-popUpBackground-color: #fff;
$navigation-popUpText-color: #1a1a1a;
$navigation-popUpUserInnerBackground-color: #f2f2f2;
$navigation-popUpNavigationBackground-color: #fff;
$navigation-popUpNavigationLink-color: #828282;
$navigation-popUpNavigationLinkHover-color: #b40101;
$propertySearch-header-color: #fff;
$propertySearch-searchBackground-color: #fff;
$propertySearch-searchBackground-opacity: .9;
$propertySearch-label-color: #444;
$propertySearch-selectBackground-color: #fff;
$propertySearch-selectText-color: #444;
$propertySearch-searchButtonBackground-color: #b40101;
$propertySearch-searchButtonText-color: #fff;
$propertySearch-advancedSearchLink-color: #828282;
$propertySearch-advancedSearchLinkHover-color: #b40101;
$propertySearch-mobileSearchBackground-color: #f2f2f2;
$propertySearch-mobileLabel-color: #444;
$bodyContent-header-color: #444;
$bodyContent-paragraph-color: #444;
$bodyContent-link-color: #b40101;
$bodyContent-linkHover-color: #810101;
$sidebarShare-background-color: #fff;
$sidebarShare-backgroundHover-color: #f5f5f5;
$sidebarShare-text-color: #444;
$sidebarShare-textHover-color: #b40101;
$sidebarContent-header-color: #444;
$sidebarContent-headerBorder-color: #e0e0e0;
$sidebarContent-text-color: #444;
$sidebarContent-link-color: #b40101;
$sidebarContent-linkHover-color: #810101;
$searchResults-subBarBackground-color: #fcfcfc;
$searchResults-subBarSelectBackground-color: #fff;
$searchResults-subBarSelectText-color: #444;
$searchResults-subBarCallToActionLink-color: #b40101;
$searchResults-subBarCallToActionLinkIcon-color: #b40101;
$searchResults-propertyLink-color: #b40101;
$searchResults-propertyLinkHover-color: #810101;
$searchResults-favoritePropertyLink-color: #900;
$searchResults-informationLink-color: #b40101;
$searchResults-propertyDetailNumber-color: #444;
$searchResults-propertyDetailLabel-color: #666;
$searchResults-propertyDetailBackground-color: #fff;
$property-city-color: #444;
$property-address-color: #444;
$property-headerDetailPrice-color: #444;
$property-headerDetailNumber-color: #444;
$property-headerDetailLabel-color: #666;
$property-newSearchBackground-color: #b40101;
$property-detailLabel-color: #444;
$property-detailNumber-color: #444;
$property-slideshowButtonBackground-color: #fff;
$property-slideshowButtonText-color: #b40101;
$property-contactUsNumber-color: #444;
$property-contactUsBackground-color: #b40101;
$property-contactUsText-color: #fff;
$property-mortgageCalculatorHeader-color: #444;
$property-mortgageCalculatorButtonBackground-color: #b40101;
$primaryBottomNavigation-background-color: #b40101;
$primaryBottomNavigation-link-color: #fff;
$secondaryBottomNavigation-background-color: #000;
$secondaryBottomNavigation-header-color: #fff;
$secondaryBottomNavigation-link-color: #fff;
$secondaryBottomNavigation-linkHover-color: #e6e6e6;
$footer-header-color: #fff;
$footer-text-color: #fff;
$footer-link-color: #fff;
$rgFooter-background-color: #2b2b2b;
